﻿<?php
    if(isSet($_GET['epo']))
        $epo = $_GET['epo'];
    else
        $epo = 0;
    // todo fix above, determine if is same as npicks
    if($epo != 0)
        $epo = 1;
?>

<!doctype html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <link rel="shortcut icon" type="image/png"  href="https://ds.iris.edu/lsv/imgs/backToMap2.png">
  <link rel="icon" type="image/png" href="https://ds.iris.edu/lsv/imgs/backToMap2.png">

  <link rel="stylesheet" type="text/css" href="tsplot.css">
  <title>Global Seismogram Viewer</title>
  <link rel="stylesheet"
       href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
       integrity=
       "sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
       crossorigin=""
       type="text/css" />
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
       integrity=
       "sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
       crossorigin=""
       type="text/javascript"> 
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="rainbowvis.js"></script>

   <meta HTTP-EQUIV="Cache-control"
         CONTENT="no-cache, must-revalidate, pre-check=0, post-check=0, max-age=0">
   <meta NAME="description"
         CONTENT="A clickable map of notable earthquakes since 2010, which shows interactive record section plots for each earthquake. By IRIS Education and Public Outreach.">
   <meta NAME="keywords"
         CONTENT="earthquakes,plots,global,iris,map,record section">
   <meta name="robots" content="index, follow">


  <script type="text/javascript">

    // globals

    // preserve the protocol of user's URL, avoid ajax violation
    var protocol = location.protocol; // "http" or "https"
    //console.log("protocol is " + protocol);

    var nCircleMarkers = 0;

    // map a value from old into a new range
    function map_range(value, low1, high1, low2, high2) {
        return low2 + (high2 - low2) * (value - low1) / (high1 - low1);
    }

    $(document).ready(function() {

       //$.ajax({url: "http://ds.iris.edu/sm2/recsec/eventsIndex.php?usableOnly=1", 
       $.ajax({url: protocol + "//ds.iris.edu/gsv/eventsIndex.php?usableOnly=0", 

    	success: function(result) {

            var mymap = L.map('leafmap').setView([0, 0], 1);

          /* free, works:
            L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                 attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap<\/a> contributors'
          }).addTo(mymap);
          */

            var Esri_OceanBasemap =
				L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/Ocean_Basemap/MapServer/tile/{z}/{y}/{x}', {
                attribution: 'Tiles &copy; Esri &mdash; Sources: GEBCO, NOAA, CHS, OSU, UNH, CSUMB, Natl Geographic, DeLorme, NAVTEQ, and Esri',
                maxZoom: 15
            }).addTo(mymap);
            var OpenSeaMap =
				L.tileLayer('https://tiles.openseamap.org/seamark/{z}/{x}/{y}.png', {
                attribution: 'Map data: &copy; <a href="https://www.openseamap.org">OpenSeaMap</a> contributors'
            }).addTo(mymap);

            // create rainbow object to assign colors from a spectrum
            var rainbow = new Rainbow(); // by default, range is 0 to 100
            // assign a color: var hex = '#' + rainbow.colourAt(i);
            // assign range of values it can take
            // 10 years timespan, in months, 12*10, good til 2020
            rainbow.setNumberRange(0., 120.0); 
            rainbow.setSpectrum('red', 'orange', 'yellow', 
                                'lime', 'blue', 'purple');
            var nowTime = new Date().getTime();  // UTC epoch in ms
            var eqTime, timeDiff, eqColorHex; // will be used in loop below
            //             secs,mins,days,mths, in ms
            var monthInMs = 60 * 60 * 24 * 30 * 1000;

            // legend
            var s = '<div id="rainbow" style="display:inline" ><span class="legLabel" style="color:red">Recent </span>';
            var hex;
            for(var i = 0; i <= 120; i += 4) {
                hex = '#' + rainbow.colourAt(i);
                s += '<span title="About ' + 
                    Math.round(i/12) + ' years ago"' + 
                    'style="display:inline-block;height: 14px; width: 2.2%; background-color:' + hex + '"> </span>';
                //move style to CSS file, note background-color 
                //won't print from browser unless you check the box

                //NOTE: this breaks on iOS:
                //s += '<span title="' + i/12 + ' years ago"' + ' class="spectrumSpan" style="background-color:' + hex + '"> </span>';
            }
            s += '<span class="legLabel" style="color:purple"> 10 years ago</span>';
            $("#agelegend").html(s);


            var lines = result.split("\n");
            var markers = [];

            lines.forEach(function(l) {

                if(l.length > 0) {

                    //console.dir(l);

                    var words = l.split("|");

                    var evid = words[0];
                    var time = words[1];
                    var lat =  parseFloat(words[2]);
                    var lon =  parseFloat(words[3]);
                    var dep =  parseFloat(words[5]);
                    var magType =  words[10];
                    var mag =  parseFloat(words[11]);
                    var region = words[13];

                    var usable = words[14];
                    var usableReason = words[15];
                    /*
                    `evid` integer PRIMARY KEY,
                    `time` timestamp NOT NULL ,
                    `lat` decimal NOT NULL,
                    `lon` decimal NOT NULL,
                    `lon360` decimal NOT NULL,
                    `depth` decimal NOT NULL,
                    `author` char(18) NOT NULL,
                    `catalog` char(18) NOT NULL,
                    `contrib` char(18) NOT NULL,
                    `contribID` char(18) NOT NULL,
                    `magType` char(6) NOT NULL,
                    `mag` decimal(3,0) NOT NULL,
                    `magAuthor` char(10) NOT NULL,
                    `region` text NOT NULL 
                    */


        // note: getTraces.php will have had its OWN minmag setting, 
        // to build trace database
        minmag = 7.0; 

        if <?php if(!$epo) echo "(mag >= minmag && usable === '1')"; else echo "(true)"; ?>  { // unless epo, mag and usable constraints here

            timeDiff = nowTime - new Date(time).getTime();
            //console.log(time + ' is ' + Math.round(timeDiff / monthInMs) + ' months ago');

            eqColorHex = '#' + rainbow.colourAt(Math.round(timeDiff / monthInMs));

            var circle = L.circleMarker([lat, lon], {
                //color: (usable === "1" ? 'green' : 'red'),
                //color: (usable === "1" ? '#4F2995' : 'red'),
                //color: (usable === "1" ? eqColorHex : 'red'),
                color: (usable === "1" ? eqColorHex : 'grey'),

                //fillColor: (usable === "1" ? '#4F2995' : 'red'),
                //fillColor: (usable === "1" ? eqColorHex : 'red'),
                fillColor: (usable === "1" ? 'Indigo' : 'grey'),

                fillOpacity: (usable === "1" ? 0.3 : 0.5),
                radius: map_range(mag,  minmag, 9,  10, 55)
            }).addTo(mymap);

            markers.push(circle);

			nCircleMarkers++;

            circle.bindTooltip(region + ",  Mag " + mag + ", " + time);

            var popupText = '<h3>' + region + '</h3>' +
                '<p style="font-weight:bold;font-size:1.3em;">Magnitude ' + 
                mag + ' on<br>' + 
                new Date(time).toLocaleString( "en-us", 
                    {timeZone: 'UTC', 
                        hour12: false, 
                        month: "long", 
                        day: "numeric", 
                        year: "numeric", 
                        hour: "2-digit", 
                        minute:"2-digit"}) +' UTC</p>';

<?php
                if($epo) {
?>
                    popupText += '<div style="margin:1px; font-size:11px;font-style:italic;">EPO Admin only:</div>' +
                    '<div id="box" style="margin-bottom:10px; padding: 4px 4px 0px 4px;border:1px solid black" title="For IRIS EPO use only">' +
                    '  <p style="font-size:1.2em">Event ID: ' + evid + '</p>' +
                    '  <a style="font-size:1.4em" href="wsTracesForID.phtml?evid=' + evid + '">Show all available raw traces</a><br>' +
                    '  <a style="font-size:1.4em" href="tsplotBuildForID.phtml?evid=' + evid + '&epo=' + <?php echo $epo;?> + '">Build a test plot</a> &nbsp;(older plot version)' +
                    '  <p style="font-weight:bold;">Is plot usable?  ' + (usable === '1' ? 'Yes':'No') + '<br>If not, reason:<br>' + usableReason +'</p>' +
                    '</div>' ;
<?php
                }
?>
                    popupText += '<form action="tsplotForID.phtml">' +
					'<input type="hidden" name="evid" value="' + evid +'"> ' +
					'<input type="hidden" name="useCache" value="1"> ' +
                    '<input type="hidden" name="epo" value="' + <?php echo $epo;?> +'"> ' +
                    '<input type="hidden" name="caller" value="map"> ';

					if(usable === "1") { // 16px is max size for iPad use before "Include .." wraps:
						popupText += '<input style="font-weight: bold;font-size:16px;color: blue" type="submit" ' +
                            'value="&nbsp;&nbsp;Show plot">';
                    }
					'</form>';

            circle.bindPopup(popupText);

            } // if mag > minmag 

          } // end if l.length > 0

        }); // end lines.foreach

        // fit map to marker array bounds
        var mgroup = new L.featureGroup(markers);

        //mymap.fitBounds(mgroup.getBounds().pad(0.012));
        mymap.fitBounds(mgroup.getBounds());

        }, // end success
    error: function(obj, status, msg) {
            $("#msgs").html(status + ' ' + msg);
        }
    });  // end ajax()

    $('#irisLogo').dblclick(function() {
        if(document.location.href.indexOf('?') === -1)
           document.location.href += '?epo=1'; 
        else
           document.location.href += '&epo=1'; });

    }); // end document.ready

   (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
         }, i[r].l = 1 * new Date();
      a = s.createElement(o),
         m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
   })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

   ga('create', 'UA-1860730-1', 'auto');
   ga('send', 'pageview');

    </script>

</head>

<body>
    <span><img id="irisLogo" style="float:left" src="imgs/fromIRIS.png"></span>
    <h2 id="mapTitle">&nbsp;The Global Seismogram Viewer - Select an earthquake.</h2>
    <div id="leafmap"  
      style="height:500px; width: 100%">  <!-- or width: 950px was good --> 
    </div>
    <div id="agelegend"></div>
    <div id="msgs">

    <div title="Plot the most recent earthquake on the map." id="plotLatest" 
         style="position:absolute; top: 13px; right: 5px">
        <a href="tsplotForID.phtml?latest=1&epo=<?php echo $epo;?>"><img src="imgs/plotLatest.png"> </a>
    </div>


    <?php if($epo) print("Note: You are in EPO Admin mode. &nbsp;&nbsp; <button onclick=\"javascript:location.href='map.phtml'\"> Turn it off</button>\n");?>
    </div>


</body>
</html>

