<?php
// build a record section plot, ignoring cache and database

require_once "dbgmsg.php";

global $dbg; // is bein reset in closestStation????
$dbg = false; // override setting from dbgmsg.php

error_reporting(E_ALL ^ E_NOTICE);
date_default_timezone_set("UTC");

$local_time = trim(`/bin/date`);
dbgmsg("$argv[0] running at $local_time ");

if(!isSet($_GET['evid']))
    die("Oops. This page requires an event ID. " .  __FILE__);
    //$evid = "1634667";
else
    $evid = $_GET['evid'];

if(!isSet($_GET['epo']) || $_GET['epo'] == 0)
    $epo = 0;
else
    $epo = 1;


// get basic info about event we will plot

$evInfo = array();
$rc = 0;
$lastline = "";
// rc is last line of command output
$lastline = exec("/opt/seismon/gsv/evInfo.ksh $evid", $evInfo, $rc);

if($rc != 0 || $lastline == "")
   die("Oops. Unable to retrieve event info for event ID: $evid " . __FILE__);

//  892864|2000-01-08T16:47:14|-16.855|-174.203|185.797|130.7|ISC|ISC|ISC|2348979|Mw|7.2|HRVD|TONGA ISLANDS

list($evid, $stime, $evlat, $evlon, $lon360, $depth, 
    $jnk, $jnk2, $jnk3, $jnk4, 
    $magType, $mag, $jnk6, $region) = explode ("|", $lastline);

if(!isSet($region) || $region == "") // if last one is set assume earlier are too
   die("Oops. Unable to retrieve event info for evid $evid " . __FILE__);
if(strpos($region, "-") !== FALSE) // get rid of hyphens like "MID-ATLANTIC"
    $region = str_replace("-", " ", $region);
?>


<!DOCTYPE html>
<html lang="en">
<!-- if runtime errors reported here in browser console, try uncommenting
     error_reporting(0) in timeseriesAsJson.php, peaks.php or
     snr.php etc -->
<head>
    <meta charset="UTF-8">
    <title>GSP Record Section Plot</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- pick one or the other, also see container below
         one diff: stockchart draws subtitle and Y axis at TOP of screen
                   highchart draws subtitle and Y axis at BOTTOM of screen

    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
  -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <link rel="stylesheet" href="tsplot.css">

    <!-- nice fonts not currenlty used 
        <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Condensed:400,700,700i" rel="stylesheet">
    --> 
</head>

<body>

    <div id="loading">
        <div style="font-size:3em;">Loading...</div>
        <div class="loader">
            <div class="double-pulse"></div>
            <div class="double-pulse"></div>
        </div>
        <!-- Loading <span id="loadcnt" ></span> of <span id="totcnt"> </span>-->
        Attempted <span id="loadcnt" >0</span> of about 10 stations, <span id="failcnt">0</span> failed.
    </div>

    <div id="container" style="width:100%;height:600px;min-height:400px; min-width: 500px"></div>

    <div id="controls">
        <a id="gomap" href="map.phtml?epo=<?php echo $epo;?>">&laquo;Back to map</a>&nbsp;&nbsp;&nbsp;
        <div id="legenddiv">

        <label  for="legenddiv">Stations: </label>
            <button id="showleg" onclick="toggleLegend()">Show / Hide</button>
        </div>
        <div id="phasesdiv">
        <label  for="phasesdiv">Arrivals: </label>
            <button id="showphases" onclick="togglePhases()">Show / Hide</button>
        </div>
        <div id="shadowdiv">
        <label  for="shadowdiv">Shadow Zone: </label>
            <button id="showshadow" onclick="toggleShadow()">Show / Hide</button>
        </div>
        <div id="addstationdiv">
            <button id="addstation" onclick="addstation()">Add station near...</button>
        </div>

    </div>

    <!-- <button id="button" class="autocompare">Add time line</button> -->

    <script>

        // preserve the protocol of user's URL, avoid ajax violation
        var protocol = location.protocol; // "http" or "https"
        //console.log("protocol is " + protocol);

        var isTablet = (navigator.userAgent.toLowerCase().search("ipad") >= 0 ||
                        navigator.userAgent.toLowerCase().search("android") >= 0 ) ? true : false;

        function addstation() {
            location.href = protocol + "//ds.iris.edu/gsv/addstation/selectPlace.phtml?evid=<?php echo $evid;?>&caller=plot";
        }

        // once stations in order of distance found using stationsUrl
        // dataUrl will be used to explore them, pull data for suitably good traces, well-spaced

        // data availability:
        var stationsUrl = protocol + "//ds.iris.edu/sm2/eventlist/closestNStationsWs.phtml?";
        // data plot data as JSONP
        var dataUrl = protocol + "//ds.iris.edu/gsv/timeseriesAsJsonDev.php";

        var chart,
            seriesOptions = [],
            seriesCounter = 0;
            //hasPlotLine = false,
            //plotLineLabel = null;

        /** not used now
        function flipit(event) {
                if(hasPlotLine) {
                    chart.xAxis[0].removePlotLine("plot-line-1");
                    hasPlotLine = false;
                }

                chart.xAxis[0].addPlotLine({
                    value: event.xAxis[0].value,
                    color: "black",
                    width: 2,
                    id: "plot-line-1"
                });
                hasPlotLine = true;
            }
        */

        /**
         * Create the chart when all data is loaded.
         * This could be done as the data arrives in future.
         * @returns the chart
        */
        function createChart() {

                /* if want my own color scheme for each series (trace)
                Highcharts.setOptions({
                        colors: ['#2632B5', '#FF6D21',  '#009911', '#C91111', '#5A007A', '#205724','#9C0F5F',  '#000000']
                });
                */

                //chart = Highcharts.stockChart('container', {
                // pick one or other, not sure all the differences,
                chart = Highcharts.chart('container', {

                    legend: {
                        enabled: true,
                        itemDistance: 25,
                        //floating: true,
                        title: {
                            text: 'Recording Stations (' + (isTablet ? 'rollover to embolden on plot, click to hide/show)' : 'touch to hide/show)')
                        },
                        align: "center", // works for bottom
                        //align: "left",  //  works for left

                        verticalAlign: "bottom", // works for bottom
                        //verticalAlign: "middle",  //  works for left

                        //backgroundColor: "#FCFFC5",
                        borderColor: "silver",
                        borderWidth: 1,

                        layout: "horizontal", // works for bottom
                        //layout: "vertical",  //  works for left

                        //y: 200,
                        //shadow: true
                        shadow: false
                    },
                    navigator: {
                        enabled: false, // is wierd when chart inverted
                        height: 22
                    },

                    chart: {
                        zoomType: "x",
                        panning: true,
                        panKey: 'shift',

                        inverted: true,  // rcw to get inverted axes, vertical chart, chg#1

                        borderWidth: 1,
                        resetZoomButton: {
                            position: {
                                align: "left", // by default
                                //verticalAlign: "top", // by default
                                x: 10,
                                y: -40
                            }
                            //relativeTo: "chart"
                        },

                    }, // end of chart options, resume args to chart() call:

                    title: {
                        // eposerve's PHP is too old for passing "delimiters" above to ucwords()
                        text: '<?php print("Magnitude $mag,  " .
                                     ucwords(strtolower($region)) . ", " .
                                     strftime( '%d %b %Y @ %H:%M <a href=\"https://time.unitarium.com/utc/\">UTC</a>', strtotime($stime))); ?>'
                    },
                    subtitle: {
                        text: "The above earthquake recorded at " + seriesCounter + " seismic stations:"

                    },

                    rangeSelector: {
                        enabled: true,
                        buttons: [{
                            type: "all",
                            text: "All"
                        }],
                        inputEnabled: false
                    },

                    yAxis: {
                        /*
                        labels: {
                            formatter: function() {
                              //return (this.value > 0 ? ' + ' : '') + this.value + '%';

                              return (this.value);

                            }
                        }, */
                        max: 180.0, // try 185 in case drawing near 180?
                        min: 0.0,   // try -5 in case draw right near 0?
                        title: {
                            enabled: true,
                            text:  "Seismograms by Distance from the Earthquake (1 degree = ~110 km)",
                            style: { "color":"black", "font-size":"1.3em", "font-style":"bold"},
                            align: "middle",
                            //y: -10,
                            //offset: 0,
                        },
                        plotLines: [{ // Y axis grey lines
                            value: 0,
                            width: 2,
                            color: "silver"
                        }]
                    },

                    plotOptions: {
                        //pointInterval: 500,
                        series: {
                            //showInNavigator: false, // buggy if plot inverted
                            marker: {
                                enabled: false, // not good for time series
                            },

                            // in general not useful for long,large plots:
                            dataGrouping: {
                                groupPixelWidth: 2, // problematic but fast
                                smoothed: false,
                                enabled: false
                            },
                        events: {
/* works, but... */
                            mouseOver: function (event) {
                                $("#stationtable").find("tr").removeClass("hovered");
                                $("#stationtable").find("tr#"+event.target.index).addClass("hovered");
                            },
                            mouseOut: function (event) {
                                //$("#stationtable").find("tr").removeClass("hovered");
                            },
/* */

                            click: function (event) {
                                $("#stationtable").find("tr").removeClass("hovered");
                                $("#stationtable").find("tr#"+event.point.series.index).addClass("hovered");

                                showSeriesLabel(event.point.series.index);

                                //alert( this.name + ' clicked\n');
                                gmarkers.forEach( function(mrkr, idx) {
                                    mrkr.setAnimation(null);
                                    });

                                if(gmap.getZoom() > 1) gmap.setZoom(1);
                                //gmap.setCenter(gmarkers[this.index].getPosition());
                                gmap.setCenter( {lat: evlat, lng: evlon});


                                // if far north or south pan to include this offscreen station
                                if(! gmap.getBounds().contains(gmarkers[this.index].getPosition()))
                                    gmap.panTo(gmarkers[this.index].getPosition());

                                //gmap.panTo(gmarkers[this.index].getPosition());

                                gmarkers[this.index].setAnimation(google.maps.Animation.BOUNCE);

                                for(var i = 0; i < infowindows.length; i++)
                                    infowindows[i].close();
                                //infowindows[this.index].open(gmap, gmarkers[this.index]);

                                window.setTimeout( function() {
                                gmarkers.forEach( function(mrkr, idx) {
                                    mrkr.setAnimation(null);
                                    });
                                }, 2000);
                            }
                        },
                        line: {
                            lineWidth: 0.8,
                        }
                     }

                    },

                    xAxis: { // all timeseries are in milliseconds in Highcharts
                        //plotOptions: {series: { stacking: 'normal'}}, // effect? hard to say if it has any.
                        type: "datetime",
                        //ordinal: false, // only if sps were not same over all series
                        reversed: false,  // *** need this if vertical! (inverted)
                        minRange: 360000, // not sure if works right, aka max zoom, in ms
                        //minTickInterval: 500, // in millisconds, could not get to work,
                        tickPixelInterval: 15,  // but this works; to increase gridline density
                        gridLineWidth: 2,
                        title: {
                            enabled: true,
                            text: "Time Since the Earthquake  (hour:min:sec)",
                            style: { "color":"black", "font-size":"1.3em", "font-style":"bold"},
                            align: "middle",
                        },
                        labels: {
                            formatter: function () {
                                var absTime = this.value - this.axis.dataMin;
                                if(absTime < 0) absTime = 0;
                                return Highcharts.dateFormat("%H:%M:%S",
                                    absTime);
                            }
                        },
                        events: {
                            afterSetExtremes: function(e) {  // works upon zoom
                                //alert('you zoomed!'); // works
                                //deletePhases();
                                //redrawPhases();
                            }
                        }
                    },

                    tooltip: {
                        //xDateFormat: "%Y-%m-%d @ %H:%M:%S ",
                        //valueDecimals: 1,
                        //valueSuffix: " km away",
                        shared: false,
                        formatter: function () {
                            var xOffset = this.x - this.series.xAxis.getExtremes().dataMin; // rcw data starts 5 sec before
                            var s = Highcharts.dateFormat("%H:%M:%S", xOffset) + " since earthquake";
                            //s += "<br>" + (xOffset/1000./60).toFixed(1) + ' mins, or ';
                            //s += (xOffset/1000.).toFixed(2) + ' secs after quake ';
                            s += "<br/>Station " + this.series.userOptions.net + ':' + this.series.userOptions.name +
                                               " @ " + Math.round(this.series.userOptions.distDeg)  + " degs away";
                            s += "<br/>SNR: " + this.series.userOptions.snr ;
                            s += "<br/>first phase: " + this.series.userOptions.firstPhase ;
                            s += "<br/>SNR phase: " + this.series.userOptions.snrPhase ;
                            s += "<br/>nsPeaks: " + this.series.userOptions.nsPeaks ;


                            return s;
                        }
                    },

                    series: seriesOptions

                });

                return chart;

            } // end createChart



        var nStations = 0;
        var stations = []; // e.g. [{net,code,dist}, ...]
        var lastDist = 0;
        var nLookedStations = 0;
        var nPickedStations = 0;

        // construct array of stations for this plot; data is not fetched yet
        function addIfIntervalOK(obj) {
            //console.log("addIfIntervalOK:");
            var staNet = $(this).find("Net").text();
            var staCode = $(this).find("Code").text();
            var staLoc = $(this).find("Loc").text();
            var staLat = $(this).find("Lat").text();
            var staLng = $(this).find("Lng").text();

            //var staDistDeg = Number.parseFloat($(this).find("DistDeg").text());
            var staDistDeg = parseFloat($(this).find("DistDeg").text());

            console.log("considering " + staNet + ":" + staCode + " @ " + staDistDeg + " lastDist: " + lastDist);
            nLookedStations++;
            $("loadcnt").text("considering trace " + nLookedStations);

            if(lastDist === 0 ||  (staDistDeg - lastDist >= 11))  {
            //if(lastDist === 0 ||  (staDistDeg - lastDist >= 4))  {
                stations.push({
                    code: staCode,
                    net:  staNet,
                    loc:  staLoc,
                    lat:  staLat,
                    lng:  staLng,
                    dist: staDistDeg
                });

                lastDist = staDistDeg;
                nPickedStations++;
                console.log("picking " + staNet + ":" + staCode + " @ " + staDistDeg + " lastDist: " + lastDist);
                $("loadcnt").text("picking trace " + nPickedStations);
            } else
                console.log("too close");

        }

<?php
        //avail to use: ($evid, $stime, $evlat, $evlon, $lon360, $depth, $jnk, $jnk2, $jnk3, $jnk4, $magType, $mag, $jnk6, $region)
        try {
           $startEpoch = strtotime($stime); // will add time below
        }
        catch (Exception $e) {
           die("could not parse $stime as valid date " . __FILE__);
        }

        $mins = 30;  // TODO this is a GET param!
        $etime = date('Y-m-d\TH:i:s', $startEpoch + floor($mins * 60)); // end in UNIX seconds

        //print("console.log('stime: ' + '" . $stime . "');");
        //print("console.log('etime: ' + '" . $etime . "');");

        print("var evlat = $evlat ;  // passed in via PHP not part of source\n"); // make avail to js
        print("var evlon = $evlon ;  // passed in via PHP not part of source\n"); // make avail to js

        print("var staAvailUrl = stationsUrl  + 'net=_GSN-BROADBAND,_US-REF&lat=$evlat&lng=$evlon&nsta=300&maxsta=300&radius=180&start=$stime&end=$etime';\n");
?>
        console.dir("getting "+ staAvailUrl );

        console.log("picking and loading stations... ");

        $.ajax({
            url: staAvailUrl,
            dataType: "xml",
            success: function (data) {
                // Extract relevant data from XML
                nStations = $(data).find('StationCnt').text();
                $("#totcnt").text(nStations);

                console.log('' + staAvailUrl);
                console.log('searching ' + nStations + ' stations for OK intervals...');

                console.groupCollapsed(); // group next msgs under triangle

                $(data).find('Station').each( addIfIntervalOK );   /////////

                console.groupEnd();

                console.groupCollapsed();

                getData();   /////////

                console.groupEnd();

            },
            error: function (data) {
                console.log('Error loading ' + staAvailUrl);
            }
        })



        function getData() {

            var nTries = 0;
            var failCnt = 0;
            $.each(stations, function (i, station) {

                var url = dataUrl +
                    '?start=<?php echo $stime;?>' +
                    '&sta='+station.code.toUpperCase() +
                    '&net='+station.net.toUpperCase() +
                    '&loc=00' +
                    '&chan=BHZ' +
                    '&evdist='+station.dist +
                    '&evdep='+<?php echo $depth;?> +
                    '&minSNR=0'+ // 15
                    //'&normrange=50' + 
                    '&callback=?';

                console.log(url);

                $.getJSON(url , function (returnObj) {
                    nTries++;
                    $("#loadcnt").html(nTries);
                    var valid = false;
                    if(!returnObj)
                        console.warn('no return object from call');
                    else
                        if(!returnObj.data)
                            console.warn('return object lacks data array from call');
                        else
                            if(typeof (returnObj.data[0]) !== "object")  // is an Array of X,Y Arrays
                                console.warn('no data from call');
                            else
                                valid = true;

                    //console.log('returnObj type is: '+typeof(returnObj));
                    if(!valid) {
                        console.log('on Nth:' + nTries + ' try, ' + station.code + ' failed, returning.');
                        failCnt++;
                        $("#failcnt").html(failCnt);
                    }
                    else {
                    //console.log('returnObj is valid'); console.dir(returnObj);

                    console.log('on Nth:' + nTries + ' try, adding data for' + station.net + ':' + station.code + ' at ' + station.loc + '...');


                    var d = returnObj.data.map(function (ary_obj) {
//if(station.dist <=2) station.dist=2.5;
                        return([ary_obj[0], (ary_obj[1]) + station.dist]); // floatVal?
                        //return([ary_obj[0], parseFloat(ary_obj[1]) + station.dist]); // floatVal?
                    });

                    seriesOptions[seriesCounter] = {
                        net: station.net,
                        name: station.code,
                        loc: station.loc,
                        lat: station.lat,
                        lng: station.lng,
                        data: d,
                        /* my stuff */
                        distDeg: station.dist,
                        snr: returnObj.snr,
                        snrPhase: returnObj.snrPhase,
                        firstPhase: returnObj.firstPhase,
                        nsPeaks: returnObj.nsPeaks,
                        /* take a
                        small amt off snrPhaseTimeIndex in hopes label will be drawn closer to
                        noise than signal, so is closer to proper central location for this trace */
                        snrPhaseTimeIndex: returnObj.snrPhaseTimeIndex - 5,
                        firstPhaseTimeIndex: returnObj.firstPhaseTimeIndex - 5
                    };

                    // As we're loading the data asynchronously, we don't know what order it will arrive. So
                    // we keep a counter and create the chart when all the data is loaded.
                    seriesCounter += 1; // increm no matter what so know when done
                    }


                    //if(seriesCounter == nPickedStations)   // beware ===  (one is string)
                    if(nTries == nPickedStations) { // beware ===  (one is string)

                        // sort seriesOptions by my distDeg field, and removed failed calls
                        seriesOptions.sort(function(a,b) { return(a.distDeg - b.distDeg) });
                        if(seriesOptions.some(function(elem,ind,ary) { return elem.data.length === 0; })) {
                            // we have some empty data arrays to weed out
                            console.log('warning: seriesOptions[] has failed data arrays, should not happen');
                        }

                        chart = createChart();

                        //chart.showLoading(); // not work; chart is not created until data has been loaded
                        toggleLegend();
                        //createPhases();
                        //togglePhases(); // turn them OFF

                        //chart.hideLoading(); // not work; chart is not created until data has been loaded
                        $("#loading").hide(); // alternate way

                        chart.renderer.image('imgs/fromIRIS.png', 10, 10, 58, 44)
                            .add();

                        //$(chart.xAxis[0].paddedTicks).each(function() { chart.xAxis.addPlotLine()});

                        window.setTimeout( // function() {
                            initGMap, // only so once seriesOptions and other globals are created
                             2000);
                            //}, 3000);

                    } // end chart creation

                }); // end getJSON callback
            }); // end each()
        }; // end getData()


    function toggleLegend() {
        chart.legend.options.enabled = ! chart.legend.options.enabled;
        chart.legend.update();
        //redrawPhases();
    }

    var phasesVisible = false;

    function togglePhases() {
        phasesVisible = ! phasesVisible;
        // zoom out to create/destroy phases, this is due
        // to points[] and data[] are only en par when not
        // zoomed in. points[] is array of objects being
        // drawn, whereas data are raw arrays of numbers

        // only zoom out if are zoomed in
        if(chart.axes[0].dataMin != chart.axes[0].min)
            chart.zoomOut();
        redrawPhases();
    }

    function redrawPhases() {
        chart.series.forEach(function(s) {
            if(phasesVisible && s.points[s.userOptions.firstPhaseTimeIndex]) {
                s.points[s.userOptions.firstPhaseTimeIndex].update({
                    dataLabels: {
                      enabled: true,
                      allowOverlap: true,
                      crop: false,
                      overflow: 'none',
                      padding: 2,
                      format: s.userOptions.firstPhase,
                      align: 'left',
                      verticalAlign: 'middle',
                      borderRadius: 5,
                      backgroundColor: 'rgba(252, 255, 197, 0.7)',
                      borderWidth: 1,
                      borderColor: '#AAA',
                      x: 0
                      }
                  });
            }
            else
                if(s.points[s.userOptions.firstPhaseTimeIndex])
                    s.points[s.userOptions.firstPhaseTimeIndex].update({
                        dataLabels: {
                        enabled: false
                        }
                    });
       });
    }


    var shadowZoneVisible = false;
    // see USGS and IRIS definitions of P wave Shadow Zone boundaries
    function showShadowZone() {
        chart.yAxis[0].addPlotBand({
            from: 104,
            to: 140,
            color: '#DDDDEE',
            //color: '#BBBBCC',
            //color: '#DDDDFF',
            //color: '#888888',
            id: 'shadowZone'
         /* label: {
            text: '<i>Shadow Zone<\/i><br>indicates<br>existence of<br>Earth\'s outer core',
            align: 'center',
            style: {
              fontSize: '12px',
              fontWeight: 'bold',
              zIndex: 20
            },
            y: 300
            }  */
        });
        shadowZoneVisible = true;
    }
    function hideShadowZone() {
        shadowZoneVisible = false;
        chart.yAxis[0].removePlotBand('shadowZone');
    }
    function toggleShadow() {
        if(shadowZoneVisible) hideShadowZone();
        else showShadowZone();
        shadowZoneVisible != shadowZoneVisible;
    }

/*  doesn't solve problem, they don't print right, chart is resized
    Highcharts.setOptions({ // Apply to all charts
        chart: {
            events: {
                beforePrint: function () {
                    redrawPhases();
                    console.log('redrew phases');
                }
            }
        }
    });
 */
    </script>

    <div id="mapandlist">
        <div id="gmap"></div>
        <div id="stationlist">
            <table id="stationtable"></table>
        </div>
    </div>

    <script>


var gmarkers = [];
var infowindows = [];
var triangle;

function openLink(url) {
    console.log(url);
    window.open(url, 'StationInfoLink');
}

var prevMarker = -1;

function showSeriesLabel(seriesIndex) {
    if(prevMarker >= 0) 
         chart.series[prevMarker].points[0].update({
            dataLabels: {
            enabled: false }});

     prevMarker = seriesIndex;

     chart.series[seriesIndex].points[0].update({
        dataLabels: {
            enabled: true,
            allowOverlap: true,
            crop: false,
            overflow: 'none',
            format: chart.series[seriesIndex].userOptions.name,
            align: 'center',
            verticalAlign: 'middle',
            shape: 'triangle-down',
            //style: {"font-size": "14px", "textOutline": "none";},
            style: {"color": "white", "fontSize": "18px", "fontWeight": "bold", "textOutline": "2px black" },
            //shape: 'callout',
            padding: 8,
            shadow: true,
            //borderRadius: 5,
            backgroundColor: chart.series[seriesIndex].color,
            borderWidth: 1,
            //color: '#FFF',
            borderColor: '#000',
            x: 0
        }
    });
}


function initGMap() {
    gmap = new google.maps.Map(document.getElementById('gmap'), {
        zoom: 1,
        center: {lat: evlat, lng: evlon},
        mapTypeId: 'terrain',
        scrollwheel: false
    });

    triangle = {
        //0,0 is upper left
        // triangle with flat edge on top
        path: 'M 10 10 L 30 10 L 20 30 z',
        anchor: new google.maps.Point(18,18),
        //fillColor: // is set in loop below for each series
        fillOpacity: 0.8,
        scale: 1.5,
        strokeColor: 'black',
        strokeWeight: 2
    };


    var stalist = []; // sorted list of stations for stationlist DIV

    // for each series (seriesOptions?):
    for(var s = 0; s < chart.series.length; s++) {
        var series = chart.series[s];
        var userOptions = series.userOptions;
        var net = userOptions.net;
        var sta = userOptions.name;
        var place = userOptions.loc;
        var dist = Math.round(userOptions.distDeg);
        var distkm = Math.floor(userOptions.distDeg * 110.);
        var lat = parseFloat(userOptions.lat);
        var lng = parseFloat(userOptions.lng);
        var col = series.color;

        stalist.push({"code": sta, "loc": place, "seriesNum": s}); // will sort by code later

        var stationLink = '';
        if(net != 'US' && net != 'TA')
            stationLink = 'https://earthquake.usgs.gov/monitoring/operations/stations/' + net +'/' + sta + '/';
        else
            stationLink = 'https://ds.iris.edu/gmap/' + net + '/' + sta + '/';
        var netLink = 'https://ds.iris.edu/gmap/' + net + '/';

        var contentString =
        '<div id="content">'+
            '<h2 id="staInfoHead" class="staInfoHead">' + sta + '  is ' + dist + ' degrees (' + distkm + ' km) from the earthquake.</h2>'+
            '<div id="staInfoBody">'+
            '<a href="javascript:openLink(\'' + stationLink + '\')">' + sta +
'</a> is in <b><a href="javascript:openLink(\'https://www.google.com/search?q=' + place + '\')">' + place + '</a></b> - ' +
            'part of the <a href="javascript:openLink(\'' + netLink +  '\')">'+ net + ' seismic network</a>.' +
            '<br><br><a href="javascript:gmap.setCenter({lat:' + lat + ', lng: ' + lng + '});gmap.setZoom(7);">zoom there</a>' +
            //',&nbsp;&nbsp;<a href="javascript:gmap.setCenter({lat:' + lat + ', lng: ' + lng + '});gmap.setZoom(1);for(var i = 0; i < infowindows.length; i++)infowindows[i].close();gmap.setCenter({lat:' + evlat + ',lng:' + evlon + '});">zoom out</a>' +
            ',&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:gmap.setZoom(1);">zoom out</a>' +
        '</div></div>';

        infowindows[s] = new google.maps.InfoWindow({
          content: contentString
        });

        triangle.fillColor = col;
        gmarkers[s] =  new google.maps.Marker({
            position: {lat: lat, lng: lng},
            icon: triangle,
            map: gmap,
            //title: sta + ' (index='+s+') is a station in the ' + net + ' network. Click for more info.',
            title: sta + ' is a station in the ' + net + ' network. Click for more info.',
            seriesIndex: s
            //net: net,
            //sta: sta
            // etc. status, hilite links, etc can go here
        });

        var lineToStation = [
            {lat: evlat, lng: evlon},
            {lat: lat, lng: lng}
        ];
        var evstline = new google.maps.Polyline({
            path: lineToStation,
            geodesic: true,
            strokeColor: col,
            strokeOpacity: 1.0,
            strokeWeight: 2.0
        });

        evstline.setMap(gmap);

        gmarkers[s].addListener('click', function(me) { //MouseEvent
            for(var i = 0; i < infowindows.length; i++)
                infowindows[i].close();

            infowindows[this.seriesIndex].open(gmap, gmarkers[this.seriesIndex]);

            $("#stationtable tr.station").removeClass("hovered");
            $("#stationtable").find("tr#"+this.seriesIndex).addClass("hovered");
            showSeriesLabel(this.seriesIndex);
/* simulating mouse hover on plot series:
 * this screws things up badly:   probably setState() calls
            if(isTablet && prevMarker >= 0   ) {
            //if(prevMarker >= 0) {
                chart.series[prevMarker].update({states: {hover: {lineWidthPlus: 1}}});
                chart.series[prevMarker].setState('');
            }

            chart.series[this.seriesIndex].update({states: {hover: {lineWidthPlus: 3}}});
            chart.series[this.seriesIndex].setState('hover');
            prevMarker = this.seriesIndex;
*/
        });

        gmarkers[s].addListener('mouseover', function(me) { //MouseEvent
            // alt. way $("#stationtable").find("tr").removeClass("hovered");
            $("#stationtable tr.station").removeClass("hovered");
            $("#stationtable").find("tr#"+this.seriesIndex).addClass("hovered");
            showSeriesLabel(this.seriesIndex);
        });

        gmarkers[s].addListener('mouseout', function(me) { //MouseEvent
            $("#stationtable tr.station").removeClass("hovered");
        });

    } // end for each series

    gmap.addListener('click', function(me) { //MouseEvent
        for(var i = 0; i < infowindows.length; i++)
            infowindows[i].close();
    });


    // sort stalist and populate stationlist
    stalist.sort(function(a, b) { // comparator function
        //return parseFloat(a.price) - parseFloat(b.price); // numeric
        return a.code.localeCompare(b.code); // string compare, not case sens
    });

    for(var s = 0; s < stalist.length; s++) {
//temp
var b;
if(s==3) {
b = ";border: 2px solid black;";
a = "&nbsp;&nbsp;**";
}
else  {
  b = "";
  a = "";
}
        $("#stationtable").append(
            "<tr class='station' id='" + stalist[s].seriesNum + "'>" +
            "<td style=' background-color: " +
            chart.series[stalist[s].seriesNum].color + "!important" + b +
            "'>" + stalist[s].code + "</td>" +
            "<td>" + stalist[s].loc + a + "</td></tr>"
        );
    } // end stalist loop
    $("#stationtable").after("<p>** closest to location you chose</p>");

    $(".station").css("cursor", "pointer");
    $(".station").click(function(eventObj) {
        // this is avail, as is  eventObj
        //
        $("#stationtable tr.station").removeClass("hovered");

        var seriesIndex = parseInt( $(this).attr("id") );

        for(var i = 0; i < infowindows.length; i++)
            infowindows[i].close();

        infowindows[seriesIndex].open(gmap, gmarkers[seriesIndex]);
        gmarkers[seriesIndex].setAnimation(null);

    });

    $(".station").hover(function(eventObj) {   // two functions, enter and leave
        // enter function:
        var seriesIndex = parseInt( $(this).attr("id") );

        showSeriesLabel(seriesIndex);

        gmarkers[seriesIndex].setAnimation(google.maps.Animation.BOUNCE);

        },  function(eventObj) {

        // leave function:
        var seriesIndex = parseInt( $(this).attr("id") );
        gmarkers[seriesIndex].setAnimation(null);
        if(prevMarker >= 0   )
                chart.series[prevMarker].points[0].update({
                    dataLabels: {
                      enabled: false }});
    });


} // end initMap
    </script>
    <!-- defer means execute once doc is parsed but before content is ready
         call initGMap myself in document.ready, as on iPad it gets called too soon this way:
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtk_r0paNTZF0uyk50jbzRtM-TryxLbYU&callback=initGMap"> -->

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtk_r0paNTZF0uyk50jbzRtM-TryxLbYU">
</script>


</body>

</html>

