<!doctype html>
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>IRIS Large Event Data Repo</title>
 <!--
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  -->
</head>

<body>


<?php
/*
 *
 * THIS SHOWS THE WEBSERVICE's PLOT IMAGES, TO CONFIRM DATA FETCHED/STORED,
 * aka the "Show Traces" in the dev version of map.phtml,
 * DURING DEVELOPMENT. DON'T DELETE IT. RUSS
 *
 */

require_once "dbgmsg.php";

global $dbg; // is bein reset in closestStation????
$dbg = false; // override setting from dbgmsg.php

error_reporting(E_ALL ^ E_NOTICE);
date_default_timezone_set("UTC");

if(!isSet($_GET['evid'])) 
    //die("Oops. This page requires an event ID.");
    $evid="1634667";
else
    $evid = $_GET['evid'];

$local_time = trim(`/bin/date`);
dbgmsg("$argv[0] running at $local_time ");

dbgmsg("opening database ...");

///////////////////////////// connect to database

$db_file = "plotsdb";
$data_dir = "/opt/seismon/gsv/data";
$db_dsn =  "sqlite:$db_file";

try {
    /*************************************
    * open connection                    *
    *************************************/
    dbgmsg( "opening $db_dsn...");
    $file_db = new PDO($db_dsn);
    $file_db->setAttribute(PDO::ATTR_TIMEOUT, 5);  // 5 seconds
}
catch(PDOException $e) {
    // Print PDOException message
    echo "\nError: failed to open connection to $db_file\n";
    die($e->getMessage());
}

$file_db->setAttribute(PDO::ATTR_ERRMODE,
                       PDO::ERRMODE_EXCEPTION);
$file_db->setAttribute(PDO::ATTR_TIMEOUT, 5);  // seconds


$query = "select region, time, mag from events where evid = $evid ";
try {
    $result = $file_db->query($query);
}
catch(PDOException $e) {
     die("error: failed with $query on $db_file " .  $e->getMessage());
}
    //var_dump($result);
try {
    $evinfo = $result->fetchAll (PDO::FETCH_BOTH); // simple array, numeric only
    //var_dump($evinfo);
}
catch(PDOException $e) {
    print("warning: could not fetchAll results on $query " . $e->getMessage() . " skipping");
    continue;
}
$title = $evinfo[0]["region"] . "<br>on " .  $evinfo[0]["time"] . ", M" . $evinfo[0]["mag"] . ", from close to faraway.";
$title .= '<br><span style="color:red">Red border = NOT usable trace </span> <span style="color:green">Green border = usable trace</span> ';


//$query = "select distinct events.* from events inner join traces on events.evid = traces.evid group by events.evid";
$query = "select * from traces where evid = $evid order by distDeg asc ";
try {
    $result = $file_db->query($query);
}
catch(PDOException $e) {
     die("error: failed with $query on $db_file " .  $e->getMessage());
}
    //var_dump($result);
try {
    $traces = $result->fetchAll (PDO::FETCH_BOTH); // simple array, numeric only
    //var_dump($traces);
}
catch(PDOException $e) {
    print("warning: could not fetchAll results on $query " . $e->getMessage() . " skipping");
    continue;
}
print("<h2>" . count($traces) . " traces for $title</h2>");

foreach ($traces as $tr ) {
    //var_dump($tr);
    $evid = $tr['evid'];
    $net = $tr['net'];
    $sta = $tr['sta']; // abbreviated station code
    //$code = $tr['code'];??? no such thing
    $distDeg = $tr['distDeg'];
    $snrPhase = $tr['snrPhase'];
    //$snrIndex = $tr['snrPhase']; // don't need as we aren't retrieving data from json file
    $snr = $tr['snr'];
    $place = $tr['place']; // non-abbreviated place name

    $traceOK = false;
    if($distDeg < 96 && $snr > 30)
        $traceOK = true;
    else
        if(distDeg < 114 && $snr > 20)
            $traceOK = true;
        else
            if($snr > 5)
                $traceOK = true;

    if($traceOK)
        $bordercolor = "limegreen";
    else
        $bordercolor = "red";

    $outpath = "data/" . $evid;
    $jsnfile = "$distDeg.$net.$sta.jsonp";
    $imgfile = "$distDeg.$net.$sta.png";

    dbgmsg("does $outpath/$imgfile/ exist?\n");
    if(file_exists("$outpath/$imgfile")) {
        dbgmsg("yes it does\n");
        print("<img style='margin-left:9px;border: 3px solid $bordercolor;' src='$outpath/$imgfile'>\n");
        print("<div style='margin-bottom:20px;font-size:1.2em;font-weight:bold;position:relative; left:20px'>Degs: " .
            $distDeg . "&nbsp;&nbsp;&nbsp;SNR: " .
            $snr . " &nbsp;&nbsp; taken at phase: " . $snrPhase  . " &nbsp;&nbsp;&nbsp;Where: " . $place . " ($net:$sta)</div>");
    }

} // for each trace


?>
</body>
</html>
