video {
  width: 100%    !important;
  height: auto   !important;
}

@media (min-width: 720px) {  /* largeish and on up */
    div .container.topic {
        padding-top: 70px;
        padding-bottom: 30px;
        /*color: black;   /*to see when is in effect */
    }
    /*
    .footer {
        margin-top: 600px;
    }
    */
}
@media (min-width: 540px) and (max-width: 720px) {  /* mediumish, tablets */
    div .container.topic {
        padding-top: 90px;
        padding-bottom: 30px;
        /*color: blue;  /* to see when is in effect */
    }
    /*
    .footer {
        margin-top: 400px;
    }
    */
}

/* ditch navbar for small devices, used 1/3 or more of screen */
@media (max-width: 540px) {  /* phones */
    div .container.topic {
        padding-top: 20px ;
        padding-bottom: 20px;
        /*padding-top: 290px ;*/
        /*padding-bottom: 30px;*/
        /*color: green;  /* to see when is in effect */
    }
    #media {
        display:none;
        visibility:hidden;
    }
    .navbar {
        display:none;
    }
    /*
    .navbar-nav li.nav-item {
        height: 1.7rem;
    }
    */
    /*
    .footer {
        margin-top: 200px;
    }
    */
}

.footer {
    font-size:0.8em;
    position:relative;
    bottom:10px;
    margin-top: 90%;
}
