﻿<?php

//all GET params but 'caller'  not needed by this page, but tracked 
//in order to construct the Accept or Cancel URLs to go to
if(!isSet($_GET['evid']))
    //die("Oops. This page requires an event ID. " .  __FILE__);
    $evid = "1634667"; // arbitrary default
else
    $evid = $_GET['evid'];

if(!isSet($_GET['caller']))
    $caller = "map";
else
    $caller = $_GET['caller'];

if(!isSet($_GET['epo']) || $_GET['epo'] == 0)
    $epo = "&epo=0";
else
    $epo = "";

if(isSet($_GET['npicks']) )
    $npicks = "&npicks=".$_GET['npicks'];
else
    $npicks = "";

if(isSet($_GET['ncolors']) )
    $ncolors = "&ncolors=".$_GET['ncolors'];
else
    $ncolors = "";

// where might we go from this page?:

$goplotURL = "../t.phtml?evid=$evid$epo$npicks";

if($caller == "map")
    $cancelURL = "../map.phtml?epo=$epo$npicks$ncolors";
else
    $cancelURL = "../t.phtml?evid=$evid$epo$npicks$ncolors";

?>
<!DOCTYPE html>
<html>
  <head>
    <title>GSP: Select a place of interest</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="geocomplete/examples/styles.css" />
    <style type="text/css" media="screen">
      .map_canvas { float: left; }
      form { width: 250; float: left; }
      fieldset { width: 270; margin-top: 20px}
      fieldset label { display: block; margin: 0.5em 0 0em; }
      fieldset input { width: 95%; }
      body {width: 900px}
    </style>
  </head>

  <body>

    <h2>Please pick a place of interest. The closest available seismic station will be in your plot:</h2>
    <div class="map_canvas"></div>

    <p style="font-weight:bold">Click the map or drag the marker.</p>
    <p style="font-weight:bold">You can also enter a place,<br>ZIP code, landmark, etc:</p>

    <form>
	<div>
      <input id="geocomplete" type="text" size="10" placeholder="ZIP, city, place" value="California" />
      <input id="find" type="button" value="Find" />
	</div>

      <fieldset>
<!--
        <h3>Address-Details</h3>

        <label>Name</label>
        <input name="name" type="text" value="">

        <label>POI Name</label>
        <input name="point_of_interest" type="text" value="">
-->
        <label>Latitude</label>
        <input id="lat" name="lat" type="text" value="">

        <label>Longitude</label>
        <input id="lng" name="lng" type="text" value="">

<!--
        <label>Location</label>
        <input name="location" type="text" value="">

        <label>Location Type</label>
        <input name="location_type" type="text" value="">

        <label>Formatted Address</label>
        <input name="formatted_address" type="text" value="">

        <label>Bounds</label>
        <input name="bounds" type="text" value="">

        <label>Viewport</label>
        <input name="viewport" type="text" value="">

        <label>Route</label>
        <input name="route" type="text" value="">

        <label>Street Number</label>
        <input name="street_number" type="text" value="">

        <label>Postal Code</label>
        <input name="postal_code" type="text" value="">

        <label>Locality</label>
        <input name="locality" type="text" value="">

        <label>Sub Locality</label>
        <input name="sublocality" type="text" value="">

        <label>Country</label>
        <input name="country" type="text" value="">

        <label>Country Code</label>
        <input name="country_short" type="text" value="">

        <label>State</label>
        <input name="administrative_area_level_1" type="text" value="">

        <label>Place ID</label>
        <input name="place_id" type="text" value="">

        <label>ID</label>
        <input name="id" type="text" value="">

        <label>Reference</label>
        <input name="reference" type="text" value="">

        <label>URL</label>
        <input name="url" type="text" value="">

        <label>Website</label>
        <input name="website" type="text" value="">
 -->
    </fieldset>
    <p style="font-weight:bold">Then Accept or Cancel: </p>
	<div>
      <input id="accept" type="button" onclick="javascript:acceptLatLon();" value="Accept" />
      <input id="cancel" type="button" onclick="javascript:cancelLatLon();" value="Cancel"  />
	</div>
    </form>

    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCtk_r0paNTZF0uyk50jbzRtM-TryxLbYU&libraries=places"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <script src="geocomplete/jquery.geocomplete.js"></script>


    <script>

    function acceptLatLon() {
        var lat = $("#lat").val();
        var lng = $("#lng").val();
        //alert('you accepted the lat and lon: ' + lat + ',' + lng);
        <?php echo "var goplotURL = '$goplotURL&addlatlon=' + Math.round(lat*100)/100 + ',' + Math.round(lng*100)/100 + 
                '$npicks' +
                '$ncolors';\n"; ?>

        console.log (goplotURL);
        location.href = goplotURL;
    }
    function cancelLatLon() {
        //alert('you canceled the lat and lon');
        var cancelURL = "<?php echo $cancelURL;?>";
        location.href = cancelURL;
    }

    // round number to precision decimal places
    function myround(number, precision) {  // PHP-like round()
        var factor = Math.pow(10, precision);
        var tempNumber = number * factor;
        var roundedTempNumber = Math.round(tempNumber);
        return roundedTempNumber / factor;
    };

    var geo; // attempting to make global,
      //previously was anonymous scope:
      //$(function(){
      //
      function init() {
        geo = $("#geocomplete").geocomplete({
          map: ".map_canvas",
          details: "form",
          markerOptions: {
            draggable: true
          },
          types: ["geocode", "establishment"],
        });

        $("#geocomplete").bind("geocode:dragged", function(event, latLng){
          $("input[name=lat]").val(myround(latLng.lat(), 4));
          $("input[name=lng]").val(myround(latLng.lng(), 4));
          $("#geocomplete").val('');
        });

        $("#geocomplete").bind("geocode:click", function(event, latLng){
          var marker=geo.geocomplete("marker");
          marker.setPosition(latLng);
          $("input[name=lat]").val(myround(latLng.lat(), 4));
          $("input[name=lng]").val(myround(latLng.lng(), 4));
          $("#geocomplete").val('');
        });

        $("#find").click(function(){
          $("#geocomplete").trigger("geocode");
          $("input[name=lat]").val(myround(latLng.lat(), 4));
          $("input[name=lng]").val(myround(latLng.lng(), 4));
        });

        // if click on input text field pre-select text
        $("#geocomplete").click( function( event_details ) {
            $(this).select();
        });

        $("#geocomplete").trigger("geocode");
        //$("input[name=lat]").val(myround($("input[name=lat]").val(), 4));
        //$("input[name=lng]").val(myround($("input[name=lng]").val(), 4));

      }
      //});

    init();

    </script>

  </body>
</html>


